<!DOCTYPE html>
<html lang="en"></html>
    <head></head>
    <body>
        <form action="/mycertificates" method="get">
            <input type="submit" value="My certificates">
        </form>
        <form action="/home" method="post">
            <input type="button" value="New certificate">
        </form>
        <form action="/home" method="post">
            <input type="button" value="New timestamp">
        </form>
        <form action="/home" method="post">
            <input type="button" value="OCSP">
        </form>
        <form action="/home" method="post">
            <input type="button" value="CRL">
        </form>

    </body>
</html>