<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <base href=".">
    <link rel="shortcut icon" href="#" />
</head>
<body>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form> 

    <form action="/login" method="post">
        <label for="username2">Username:</label>
        <input type="text" id="username2" name="username2"><br><br>
        <label for="password2">Password:</label>
        <input type="text" id="password2" name="password2"><br><br>
        <input type="submit" value="Login">
    </form> 
    
    
    <script type="text/html" src="./public/javascripts/login.js"></script>


</body>
</html>