<!DOCTYPE html>
<html lang="en"></html>
    <head></head>
    <body>
        <div class="topnav">
            <h1>Create Request</h1>
        </div>
        <form action="/home" method="post">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country"><br><br>
            <label for="State or Province">State or Province:</label>
            <input type="text" id="state" name="state"><br><br>
            <label for="Locality">Locality:</label>
            <input type="text" id="locality" name="locality"><br><br>
            <label for="organization">Organization Name:</label>
            <input type="text" id="organization" name="organization"><br><br>
            <label for="unit">Organizational Unit Name:</label>
            <input type="text" id="unit" name="unit"><br><br>
            <label for="common">Common name (e.g Server FQDN or Your name):</label>
            <input type="text" id="common" name="common"><br><br>
            <label for="mail">E-mail address:</label>
            <input type="text" id="mail" name="mail"><br><br>
            <label for="pass">Challenge password:</label>
            <input type="text" id="pass" name="pass"><br><br>
            <label for="op_company">Optional Company name:</label>
            <input type="text" id="op_company" name="op_company"><br><br>

        </form>

        <form action="/home" method="post">
            <input type="submit" value="New request">
        </form>

    </body>
</html>